HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.DS_Store
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Maven ###
.mvn/
mvnw
mvnw.cmd

page/.DS_Store
page/node_modules
page/dist

# local env files
page/.env.local
page/.env.*.local

# Log files
page/npm-debug.log*
page/yarn-debug.log*
page/yarn-error.log*

# Editor directories and files
page/.idea
page/.vscode
page/*.suo
page/*.ntvs*
page/*.njsproj
page/*.sln
page/*.sw*

